{% extends "base.html" %}
{% from "_pagination.html" import footer %}

{% block content %}
<div class="full-width-block">
    <div>
        <section class="main-content">
            <main class=" px-3">
                <div class="container my-5">
                    <h2>{{title}}</h2>
                    <table class="table table-hover table-striped rounded-table ">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                        <tr>
                            <th scope="row">{{ offset + loop.index }}</th>
                            <td>{{ group.name }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ footer(offset, limit, total_count, groups) }}
                </div>
            </main>
            {% endblock %}